table {
    width: 50%;
    border-collapse: collapse;
    overflow-x: auto;
}

.table th, .table td {
    min-width: 80px; /* Set a minimum width for each cell */
    max-width: 100px; 
    text-align: center; /* Adjust text alignment as needed */
    padding: 10px;
}

.table thead th, .table tbody td {
    position: sticky;
    top: 0;
    background-color: #fff; /* Set background color as needed */
    height: 40px; /* Set the height of the input elements */
}

.table input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.red{
    color : red;
}
.space{
    border: 4px solid red;
}
.superHint{
    text-align:center;
    color:red;
}
.hint{
    text-align:left;
    color:blue;
}